<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Books For Life</title>
  </head>
  <body>
    <h1>Welcome to Books for Life App.</h1>
    <h3>Your gate to grate books</h3>
    <div class="index-link-text"><a href="/books/newBook">Add New Book</a></div>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Cover Image</th>
        <th>Number Of Pages</th>
        <th>Rate</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% books.forEach(book => { %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.coverImage %></td>
        <td><%= book.numberOfPages %></td>
        <td><%= book.rate %></td>
        <td><%= book.description %></td>
        <td><a href="/books/<%= book._id %>/show">Edit</a></td>
        <td><a href="/books/<%= book._id %>/delete">Delete</a></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
